// Variable
$dark: #202428;
$primary: #ff5500;

/* Logo Showcase Grid */
.wpwax-lsu-logo-showcase-wrap {
  &.wpwax-lsu-logo-showcase-grid {
    &.wpwax-lsu-logo-col-1 {
      .wpwax-lsu-logo-showcase-item {
        flex: 0 0 100%;
        width: 100%;
      }
    }
    &.wpwax-lsu-logo-col-2 {
      .wpwax-lsu-logo-showcase-item {
        flex: 0 0 50%;
        width: 50%;
      }
    }
    &.wpwax-lsu-logo-col-3 {
      .wpwax-lsu-logo-showcase-item {
        flex: 0 0 33.33%;
        width: 33.33%;
      }
    }
    &.wpwax-lsu-logo-col-4 {
      .wpwax-lsu-logo-showcase-item {
        flex: 0 0 25%;
        width: 25%;
      }
    }
    &.wpwax-lsu-logo-col-5 {
      .wpwax-lsu-logo-showcase-item {
        flex: 0 0 20%;
        width: 20%;
      }
    }
    &.wpwax-lsu-logo-col-6 {
      .wpwax-lsu-logo-showcase-item {
        flex: 0 0 16.6667%;
        width: 16.6667%;
      }
    }
  }
}

/* wpwax Logo Showcase Title */
.wpwax-lsu-logo-showcase-wrap {
  .wpwax-lsu-logo-showcase-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 68px;
    color: $dark;
    text-align: center;
    .wpwax-lsu-logo-showcase-serial {
      color: $primary;
    }
  }
}

/* Tooltip Style */
.tooltip{
  font-size: 16px;
  line-height: 2;
  padding: 0 10px;
}

/* Logo Showcase Item hover */
.wpwax-lsu-logo-showcase-wrap {
  .wpwax-lsu-logo-showcase-item {
    img {
      width: 100%;
      max-width: 150px;
      transition: 0.35s;
      transform: scale(1);
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

/* wpWax logo Showcase Grid 1 */
.wpwax-lsu-logo-showcase-wrap {
  &.wpwax-lsu-logo-showcase-grid {
    &.wpwax-lsu-grid-theme-2 {
      .wpwax-lsu-logo-showcase-item {
        .wpwax-lsu-logo-showcase-item {
          .wpwax-lsu-logo-showcase-item-inner {
            margin: -1px 0 0 -1px;
          }
        }
      }
    }
    .wpwax-lsu-logo-showcase-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .wpwax-lsu-logo-showcase-item {
      .wpwax-lsu-logo-showcase-item-inner {
        border: 1px solid #eaeaf1;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 35px;
        min-height: 130px;
      }
    }
  }
}

/* wpWax logo Showcase Grid Theme 2 */
.wpwax-lsu-logo-showcase-wrap {
  &.wpwax-lsu-grid-theme-2 {
    .wpwax-lsu-logo-showcase-content {
      margin: -10px;
    }
    .wpwax-lsu-logo-showcase-item {
      padding: 10px;
    }
  }
}

/* wpWax logo Showcase Grid Theme 3 */
.wpwax-lsu-logo-showcase-wrap {
  &.wpwax-lsu-grid-theme-3 {
    .wpwax-lsu-logo-showcase-content {
      margin: 0px -50px;
    }
    .wpwax-lsu-logo-showcase-item {
      padding: 0px 50px;
      &:hover {
        .wpwax-lsu-logo-showcase-item-inner {
          a {
            img {
              opacity: 1;
            }
          }
        }
      }
      .wpwax-lsu-logo-showcase-item-inner {
        a {
          img {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

/* wpWax logo Showcase Grid borderless */
.wpwax-lsu-logo-showcase-wrap{
  &.wpwax-lsu-grid-theme-borderless{
    .wpwax-lsu-logo-showcase-item{
      a{
        min-height: 45px;
      }
      .wpwax-lsu-logo-showcase-item-inner {
        border: 0 none;
        a {
          padding: 0;
        }
      }
    }
  }
}

/* wpWax logo Showcase Grid raised */
.wpwax-lsu-logo-showcase-wrap{
  &.wpwax-lsu-grid-theme-raised{
    .wpwax-lsu-carousel{
      margin-left: -10px;
      margin-right: -10px;
      .swiper-wrapper{
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .wpwax-lsu-logo-showcase-item{
      .wpwax-lsu-logo-showcase-item-inner{
        border: 0 none;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(#544d7c,.10);
      }
    }
  }
}

/* wpWax logo Showcase Grid Carousel */
.wpwax-lsu-carousel{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  &.wpwax-lsu-carousel-nav-top{
    padding: 70px 0 0 0;
  }
  &.wpwax-lsu-carousel-nav-around{
    padding: 0 45px;
  }
}

/* wpWax logo Showcase Grid Carousel navigation */
.wpwax-lsu-carousel-nav{
  display: flex;
  align-items: center;
  .wpwax-lsu-carousel-nav__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #EAEAF1;
    color: #9192a3;
    background-color: #fff;
    transition: .3s;
    cursor: pointer;
    &:hover{
      background-color: $primary;
      border-color: $primary;
      svg,
      i{
        color: #fff;
        fill: #fff;
      }
    }
    &.wpwax-lsu-carousel-nav__btn-round{
      border-radius: 50%;
    }
    &.wpwax-lsu-carousel-nav__btn-prev{
      margin-right: 12px;
      svg,
      i{
        transition: .3s;
      }
    }
  }
}

.wpwax-lsu-carousel-nav{
  &.wpwax-lsu-carousel-nav--top-right{
    position: absolute;
    right: 0;
    top: 0;
  }
  &.wpwax-lsu-carousel-nav--around{
    .wpwax-lsu-carousel-nav__btn{
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 22;
      &.wpwax-lsu-carousel-nav__btn-next{
        left: auto;
        right: 0px;
      }
    }
  }
}

/* wpWax logo Showcase Grid Carousel Pagination */
.wpwax-lsu-carousel-pagination{
  text-align: center;
  &.swiper-pagination-bullets{
    margin-top: 32px;
    .swiper-pagination-bullet{
      width: 10px;
      height: 10px;
      opacity: 1;
      background-color: #00000020;
      &.swiper-pagination-bullet-active{
        background-color: #000000;
      }
    }
  }
}